<div class="bd-example">
  <button type="button" id="openModalButton" class="btn btn-primary" data-toggle="modal" data-target="#openModal"
    (click)="openModal()">
    demo modal
  </button>
</div>

<div id="openModal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="popup">
        <h3 class="heading-3">Please enter the verification code sent on customer’s mobile</h3>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        <div class="content">
          <div class="form-wrapper">
            <div class="form-group">
              <input type="text" id="verification" value="" class="form-field webkit-square"
                placeholder="Verification Code">
              <label for="verification" class="form-label">Verification Code</label>
              
              <button [disabled]="shouldDisable">ressendOtp</button>
              <!-- <button 
    (click)='buttonClick1()' 
    [disabled] = "btnDisabled"
    [ngStyle]="{'color': (btnDisabled)? 'gray': 'black'}">
    {{btnText}}
  </button>-->
  <countdown [config]="{leftTime:30}">S</countdown>
            </div>
          </div>
        </div>
       
        <div class="mt-20">
          <button type="button" class="popup-btn">Proceed</button>
          <button type="button" data-dismiss="modal" class="cancel-btn">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Abhilash</mat-card-title>
    <mat-card-subtitle>Simple</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/whats.png" >
  <mat-card-content>
    <p>
     hdbdjhbwdbdcbefeh cn dh
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-slide-toggle>pull me!</mat-slide-toggle>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-button>COMMENT</button>
  </mat-card-actions>
</mat-card>

<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>
